<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andy.customview">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".compress.PhotoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KeepActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.andy.customview"
            android:theme="@style/KeepTheme"
            />

        <activity android:name="com.andy.library.plugin.ProxyActivity"/>
        <service android:name=".ForegroundService"/>
        <service android:name=".ForegroundService$InnnerService"/>


        <service
            android:process=":remote"
            android:name=".doubleprocess.RemoteService"/>
        <service android:name=".doubleprocess.LocalService"/>



    </application>

</manifest>